<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJ6NfNsTpK41G0Kd27QScIcM5sTWRrlHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>991211058811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.camera</string>
	<key>PROJECT_ID</key>
	<string>camera-96e96</string>
	<key>STORAGE_BUCKET</key>
	<string>camera-96e96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991211058811:ios:20294eaaacd49fc3c614de</string>
</dict>
</plist>